<main>

    <div class="parallax-bg">
        <header>
            <app-navbar></app-navbar>
        </header>
        <body>
            <div class="parallax-contect">

                <figure class="container">
                    <img src="../../../assets/Donkey_Patinete/MaiaJr.jpg" loading="eager" class="welcome-img">
                    <figcaption class="caption"><p class="text1 typing-animation">DonkeyCar</p></figcaption>
                </figure>
            </div>
            
            <div class="content">
                <h1 class="topic-cards">Membros</h1>
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:350px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>NOME:</h1>
                                <p>Descrição:</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:350px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>NOME:</h1>
                                <p>Descrição:</p>
                                

                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:350px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>NOME:</h1>
                                <p>Descrição:</p>
                    
                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card2">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:350px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>NOME:</h1>
                                <p>Descrição:</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:350px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>NOME:</h1>
                                <p>Descrição:</p>
                                

                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:350px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>NOME:</h1>
                                <p>Descrição:</p>
                    
                    
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content">
            
                
                <h1 class="topic-cards">Setores</h1>
                <div class="sector-img">
                    <img src="../../../assets/Donkey_Patinete/Rob“Bombeiro6.jpg" style="width:400px;height:400px;border-radius:20px;" >
                    <img src="../../../assets/Donkey_Patinete/MaiaJr3.jpg" style="width:400px;height:400px;border-radius:20px;">
                    <img src="../../../assets/Donkey_Patinete/Donkeycar4.jpg" style="width:400px;height:400px;border-radius:20px;">
                </div>
            </div>
        </body>
        <footer>
            <app-footer></app-footer>
        </footer>
    </div>  
</main>