.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main-img {
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    max-width: 100%;
}

.text {
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    font-size: large;
}

@media (min-width: 768px) {
    .main-section {
        flex-direction: row;
    }

    .text {
        flex: 2;
        text-align: left;
        font-size: x-large;
    }
}
