.welcome-img {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 70px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(5px);
}

.first-line,
.second-line {
    
    font-size: 3em;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

.typing-animation {
    overflow: hidden; 
    white-space: nowrap; 
    animation: animate 3s;
}

.typing2-animation {
    overflow: hidden; 
    white-space: nowrap; 
    animation: animate 4s; 
}

@keyframes animate {
    0%, 50%, 100% {
        width: 0;
    }
    70%, 100% {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .welcome-img {
        width: 100%;
    }
    .first-line,
    .second-line {
        width: 100%;
    }
}
