<main>

    <div class="parallax-bg">
        <body>
            <div class="parallax-contect">
                <app-section-welcome></app-section-welcome> 
            </div>
            
            <div class="content">
                <div>
                    <app-home></app-home>
                </div>
                
                <div>
                    
                    <app-cards></app-cards>
                </div>

                <div>
                    <app-section-ending></app-section-ending>
                </div>
            </div>
        </body>
        <footer>
            <app-footer></app-footer>
        </footer>
    </div>  
</main>