<div class="card">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/Main.png" style="width:300px;height:200px;border-radius:20px;">
            </div>
            <div class="flip-card-back">
                <h1>XXXXXX</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
                
                <button>More...</button>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/Main.png" style="width:300px;height:200px;border-radius:20px;">
            </div>
            <div class="flip-card-back">
                <h1>Marketing</h1>
                <p>Nery</p>
                <p>Fungos sao legais e letais</p>
                <button>More...</button>

            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/Main.png" style="width:300px;height:200px;border-radius:20px;">
            </div>
            <div class="flip-card-back">
                <h1>XXXXX</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
                <button>More...</button>
            </div>
        </div>
    </div>
</div>