
<h1 class="topic-cards">Categorias</h1>
<div class="card">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/Main.png" style="width:250px;height:200px;border-radius:20px;">
            </div>
            <div class="flip-card-back">
                <h1>Inmoov</h1>
                <p>O Inmoov consiste em um projeto OpenSource disponível na internet que visa a criacao de um robô humanóide feito de partes vindas de impressão 3D e fios de nailon. Todo o software do projeto que garante sua mimica com um robô é feita pela equipe.</p>
                
                <button><a href="/Inmoov">Inmoov</a></button>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/Main.png" style="width:250px;height:200px;border-radius:20px;">
            </div>
            <div class="flip-card-back">
                <h1>AGV</h1>
                <p>A ideia central da AGV é desenvolver um veiculo autonomo que possa também ser controlado dentro de longas distâncias. Dentro do MAIA ele apresenta a extrutura mais complexa visto as ferramentas implementadas e os aspectos de hardware a serem considerados.</p>
                <button><a href="/AGV">AGV</a></button>

            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/Main.png" style="width:250px;height:200px;border-radius:20px;">
            </div>
            <div class="flip-card-back">
                <h1>DonkeyCar</h1>
                <p>Criação de unidades autônomas móveis que vão desde carrinhos que andam sozinhos feitoc com Arduino até tecnologias mais complexas que utilizam ferramentas de deeplearning e funções de recompensa para o treinamento da IA.</p>
       
                <button><a href="/Donkey">DonkeyCar</a></button>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/Main.png" style="width:250px;height:200px;border-radius:20px;">
            </div>
            <div class="flip-card-back">
                <h1>Patinete</h1>
                <p>O patinete apresenta uma funcão mais ligada ao specto d mobilidade do que em IA. Sua idéia é ser escalável e aplicado dentro da faculdade fazendo com que alunos e professores popssam se locomover de predio até predio usando os patinete, assim economizando tempo e energia.</p>
     
                <button><a href="/Patinete">Patinete</a></button>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/Main.png" style="width:250px;height:200px;border-radius:20px;">
            </div>
            <div class="flip-card-back">
                <h1>Marketing</h1>
                <p>Como toda a equipe, saber vender seu peixe é a chave do sucesso, logo este é o trabalho do Marketing. Sem essa sessão nenhum dos projetos tem o alcance necessário, o que vem a prejudicar a equipe como um todo.</p>
                <button><a href="/Marketing">Marketing</a></button>
            </div>
        </div>
    </div>
</div>