<main>

    <div class="parallax-bg">
        <header>
            <app-navbar></app-navbar>
        </header>
        <body>
            <div class="parallax-contect">

                <h2>Working</h2>
 
            </div>
            
            <div class="content">
                <h1 class="topic-cards">Categorias</h1>
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:150px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>Inmoov</h1>
                                <p>Descrição:</p>
                                
                                <button><a href="/Inmoov">Inmoov</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:150px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>AGV</h1>
                                <p>Descrição:</p>
                                <button><a href="/AGV">AGV</a></button>

                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:150px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>DonkeyCar</h1>
                                <p>Descrição:</p>
                    
                                <button><a href="/Donkey">DonkeyCar</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:150px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>Patinete</h1>
                                <p>Descrição:</p>
                    
                                <button><a href="/Patinete">Patinete</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./assets/Main.png" style="width:250px;height:150px;border-radius:20px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>Marketing</h1>
                                <p>Descrição:</p>
                                <button><a href="/Marketing">Marketing</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </body>
        <footer>
            <app-footer></app-footer>
        </footer>
    </div>  
</main>